{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="features_area">
        <div class="container ">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-3">
                      <h3>Our Courses</h3> </div>
 <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single_feature text-center mb-73">
                        <div class="icon">
                            <img src="{% static 'img/svg_icon/1.svg' %}" alt="">
                        </div>
                        <h4>Weightlifting</h4>
                        <p>Weightlifting is a type of strength training that involves lifting weights to improve muscular strength, endurance, and overall fitness.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_feature text-center">
                        <div class="icon">
                            <img src="{% static 'img/svg_icon/2.svg' %}" alt="">
                        </div>
                        <h4>Specific Muscles</h4>
                        <p>We split in <br>1. Upper Body Muscles <br>2. Core Muscles <br>3. Lower Body Muscles</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_feature text-center">
                        <div class="icon">
                            <img src="{% static 'img/svg_icon/3.svg' %}" alt="">
                        </div>
                        <h4>Flex Your Muscles</h4>
                        <p>"Flex your muscles" is both a literal and figurative phrase</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_feature text-center">
                        <div class="icon">
                            <img src="{% static 'img/svg_icon/4.svg' %}" alt="">
                        </div>
                        <h4>Cardio Exercises</h4>
                        <p>Cardio, or cardiovascular exercise, refers to activities that increase your heart rate and breathing while engaging large muscle groups.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}